<footer class="page-footer center-on-small-only">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">footer content.</p>
      </div>
      <div class="col-md-6">
        <h5 class="white-text">Links</h5>
        <ul>
          <% if current_owner.nil? %>
            <li><%= link_to t(".sign_in", default: "Owner Login"), new_owner_session_path %></li>
          <% else %>
            <li><%= link_to "Owner Logout", destroy_owner_session_path, method: :delete %></li>
          <% end %>
          <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center rgba-black-light">
    <div class="container">
      © 2015 Copyright: <a href="#"> blablalink </a>
    </div>
  </div>
</footer>
