.nav-cool {
  height: 60px;
  background: white;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  display: flex;
  position: relative;
}

.nav-cool-menu {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 23px;

  a {
    color: black;
  }
}

.nav-cool-logo {
  height: 20px;
  width: 20px;
  margin: auto;
  background: #F3F3F3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.nav-cool-right {
  margin-left: auto;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: 2px;
  padding-right: 20px;

  .separator {
    width: 1px;
    background: #E4E4E4;
    height: 13px;
    margin: 0 13px;
  }
}
