.card-thumbnail-price {
  display: flex;
  align-items: flex-end;
  background-color: #FF5B5B;
  position: absolute;
  color: #BFBDBD;
  font-weight: 300;
  padding-right: 5px;
}

.card-category {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #9A9797;
}

.card-description {
  color: #9A9797;
}

// .card-event-new {
//   min-height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border:0.6 solid black;
//   details {
//     height: 80px;
//     width: 100%;
//     border-top: 0.6 solid black;
//     .date {
//     }
//     .gen {
//       .dj {

//       }
//       .clb {

//       }
//       .loc {

//       }
//     }
//   }
// }
//

.team {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 20px;

}

.teammember-details {
  padding-left: 15px;

}


.fuckoff{
  width:100%;
}


.club-pics-pic {
  display: flex;
  justify-content: space-between;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-color: solid 2px white;
}

.card-thumbnail {
  height: 200px;
  background-size: cover;
  background-position: center center;

}

.card-down {
  .ul {
    .li {
      display: inline-table;
      color: black;
    }
  }
}

.price{
  background-color: rgba(0,0,0,0.8);
  color: white;
  top:175px;
  position:relative;
  display: inline;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 1.43;
}

.starttime {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}

.clubname {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}


.city {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}


.card-wrapper {
    margin-top: 0;
    margin-bottom: 30px;
    height: 500px;
    perspective: 800px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        background-color: #fff;
    }
    /* Front side */
    .card-up {
        overflow: hidden;
        height: 50%;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }
    .card-up img {
        // min-width: 400px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .avatar {
        border-radius: 50%;
        display: block;
        height: 100px;
        margin: -65px auto 0;
        overflow: hidden;
        width: 100px;
    }
    .avatar img {
        // border: 5px solid #fff;
        background: none repeat scroll 0 0 #FFFFFF;
        width: 100%;
    }


/* Back side */
    .card-content {
        padding: 15px;
        line-height: 1.42857143;
        font-size: 14px;
    }
    /* Social icons */
    .sm-container {
        margin-top: 80px;
        padding-top: 20px;
        border-top: 1px solid #e0e0e0;
        .fa {
            font-size: 0.7em;
        }
    }
    .card-sm a {
        padding: 0;
        margin: 7px;
    }
    /* Card with rotate on click */
    .card-rotating {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }
    .card-rotating .sm-container {
        margin-top: 30px;
    }
    /* Rotate icons */
    .fa-repeat,
    .fa-undo {
        font-size: 20px;
        margin-top: 30px;
    }
    .fa-undo {
        margin-top: 30px;
    }
    /* Animation */
    .card-rotating {
        transform-style: preserve-3d;
    }
    .card-rotating__front,
    .card-rotating__back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 1.0s;
        transition: transform 1.0s;
    }
    .card-rotating__back {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    /* Click effect */
    .card-rotating.effect__click.flipped .card-rotating__front {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .card-rotating.effect__click.flipped .card-rotating__back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
}



/* Cards reveal */

.card {
  .reveal-button {
    float: right;
    background-color: rgba(0,0,0,0.8);
    color: silver;
    margin-left: auto;
    position:relative;
    display: inline;
    padding: 7px 10px;
    }
    .card-reveal {
      padding: 20px;
      position: absolute;
      background-color: #fff;
      width: 100%;
      overflow-y: auto;
      top: 100%;
      height: 100%;
      z-index: 1;
      display: none;

      .card-title {
        cursor: pointer;
        display: block;

        }
        &.social-reveal {
            height: 80%;
        }

    }

}

.fb-share-button {
  height: 40px;
  width: 100px;
  border: 0.6px solid #3B5998;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: white;
  color: #3B5998;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 108px;
}


.btn-facebook {
  height: 40px;
  border: 0.6px solid #3B5998;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: white;
  color: #3B5998;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 108px;
}

#fbbtn {
  color:white;
}

#fbbtn:hover {
  color: #3B5998;
}
























